# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Visual Studio Code
.vscode

# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# File storage
.localFS

# Data base SqLite
gendocDatabase.sqllite